* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    /* overflow: auto; */
}

a {
    text-decoration: none;
}

/* ----------------- Navigation section ----------------- */

#colmar {
    font-weight: bold;
}

#academy {
    color: rgba(128, 128, 128, 0.362);
}

nav {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
}

.navigation-list {
    margin-left: auto;
}

nav.desktop li {
    display: inline;
    padding-left: 16px;
}

/* ----------------- Header section ----------------- */

header {
    background-color: rgba(128, 128, 128, 0.362);
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

header img {
    width: 100%;
    height: auto;
    padding-right: 24px;
}

header div {
    align-self: center;
}

header button {
    width: 100%;
    background-color: #352F44;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

header button:hover {
    color: #352F44;
    font-weight: bold;
    background-color: rgb(193, 181, 181);
    border-color: white;
}

/* ----------------- Main section ----------------- */

.main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-left.info {
    padding: 32px 24px;
    grid-area: 1 / 1 / 3 / 2;
}

.main-left.practice {
    padding: 0px 24px 32px 24px;
    grid-area: 3 / 1 / span 1 / span 1;
}

.main-left img {
    width: 100%;
    height: auto;
}

.main-right {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(128, 128, 128, 0.362);
    padding: 16px;
}

.main-right img {
    width: 100%;
    height: auto;
}

.main-right .text {
    padding-left: 16px;
}


#orientation {
    padding-top: 32px;
}

/* ----------------- Start learning section ----------------- */

.start-learning {
    background-color: rgba(128, 128, 128, 0.362);
    padding: 32px 72px;
}

.start-learning h2 {
    margin-bottom: 32px;
    text-align: center;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 32px 32px;    
}

.course {
    background-color: white;
}

.course img {
    width: 100%;
}

.course div {
    padding: 16px 16px 24px 16px;
}

/* ----------------- Thesis exhibit section ----------------- */

.thesis-exhibit h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.thesis-exhibit-grid{
    display: grid;
    grid-template-columns: 60% 40%;
}

.thesis-exhibit-grid video {
    width: 100%;
}

.thesis-exhibit-grid .left {
    padding: 0 24px 32px 24px;
}

.thesis-exhibit-grid .right {
    display: grid;
    grid-template-columns: 35% 65%;    
    align-items: center;
}

.thesis-exhibit-grid .right img {
    height: auto;
    width: 100%;
    padding: 16px;
}

/* ----------------- Footer section ----------------- */

footer {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.362);
}

.footer-list {
    margin-left: auto;
}

.footer-list li {
    display: inline;
    padding-left: 16px;
}

/* Mobile size */

.mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    
/* ----------------- Navigation section ----------------- */
    nav.mobile {
        display: flex;
        justify-content: space-around;
    }

    nav.desktop {
        display: none;
    }

/* ----------------- Header section ----------------- */
    
    header.mobile {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 0;
    }    

    header.mobile div {
        padding: 0;
    }
    
    header.mobile img {
        padding-right: 0;
    }

    header.mobile .left {
        grid-row: 1;
    }
   
    header.mobile .right {
        grid-row: 2;
        padding: 32px 16px;
    }   

    header.desktop {
        display: none;
    }

/* ----------------- Main section ----------------- */



/* ----------------- Start Learning section ----------------- */



/* ----------------- Thesis Exhibit section ----------------- */



/* ----------------- Footer section ----------------- */
    .footer-list {
        display: none;
    }




}